@charset "UTF8";

*{ /*configuração geral */
    margin: 0px;
    padding: 0pz;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;/*altura total do navegador */
    width: 100vw;/*largura total do navegador */
    background-color: black;
}

body{/*configurações do body */
    background: url(../imagens/fundo-colorido.jpg) no-repeat top center;
    background-size: cover;/*rolagem  */
    background-attachment: fixed;/*fixo*/
}

main{/*container de fora/principal */
    position: relative;
    height: 100vh;
    }

section#telefone{/*configuração da section do "id:telefone"/container de dentro */
    position: absolute;/*centralizar */
    top: 50%;/*centralizar */
    left: 50%;/*centralizar */
    transform: translate(-50%, -50%);/*centralizar */
    
    height: 627px; /*tamanho da imagem do iphone */
    width: 311px;/*tamanho da imagem do iphone */
    background: url('../imagens/frame-iphone.png') no-repeat;/*.. volta pasta anterior */
}
iframe#tela {/*centralizar a imagem dentro do iphone */
    position: relative;
    top: 80px;
    left: 23px;
    width: 267px;
    height: 471px;
}
section#redes-sociais{/*icone rede social pra direita */
    text-align: right;
}

section#redes-sociais img{ /*icones redes sociais */
    width: 50px;
    margin: 10px;
    border-radius: 50%; /*borda dos icones rede social  redondo */
    box-shadow:2px 2px 5px black ;/*sombra */
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);/*salta o icone */
    box-shadow: 5px 5px 10px black;
    transition: transform .4s;/* movimento */
}